/* https://boxicons.com */
/* {{-- https://www.youtube.com/watch?v=d-VIORM1X2o --}} */

/* layout */
body{
    background-image: url('../img/hatter.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.logo{
    height: 50px;
    width: 50px;
}
/* main page */
.carousel {
    margin-bottom: -8px;
}
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
.carousel-item {
    height: 100vh;
}
.bg1{
    background-image: url("../img/layout/slide1.png");
    background-size: cover;
    background-position: center center;

}
.bg2{
    background-image: url("../img/layout/slide2.png");
    background-size: cover;
    background-position: center center;

}
.bg3{
    background-image: url("../img/layout/slide3.png");
    background-size: cover;
    background-position: center center;

}

/* VONAL */
hr{
    border: 10px solid black;
    opacity: 1;
    margin: 0px;
}
.vonal{
    margin-top: 200px;
}

/* nav / stickynav */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(165, 112, 42);
    transition: background-color 0.2s ease;
}
nav.header-sticky {
    position: fixed;
    background-color: rgb(165, 112, 42);
    top: 0;
    z-index: 2000;
    opacity: .9;
}

/* Footer */
footer{
    background-color: rgb(54, 31, 9);
    height: 300px;
    color: rgb(165, 112, 42);
}
footer a{
    color: rgb(165, 112, 42);
    text-decoration: none;
}
footer a:hover{
    color: rgb(165, 112, 42);
    text-decoration: underline;
}

@keyframes scroll{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.textboxok{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    height: auto;
    width: 800px;
    margin: auto;
    margin-top: 200px;
    font-size:x-large;
    padding: 20px;

    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;

    p{
        text-align: left;
    }
}
.lkepek{
    height: 435px;
    width: 435px;
    border: 1px solid black;
    text-align: center;
}
.onkentes{
    color: black;
    height: auto;
    width: 800px;
    margin: auto;
    font-size:x-large;
    padding: 20px;

    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;

    p{
        text-align: left;
    }
}

/* sign.blade.php */
.reg{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .sign{
        height: 750px;
        width: 450px;
        border: 2px solid rgba(255,255,255,.4);
        border-radius: 10px;
        background: rgba(0,0,0,.2);
        backdrop-filter: blur(4px);
        box-shadow: 0 0 5px rgba(0, 0, 0, .2),
        0 0 15px rgba(0,0,0,.2),
        0 0 30px rgba(0,0,0,.2);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .LoginForm{
            position: absolute;
            transform: translateX(0px) rotate(0deg);
            transition: .5s ease;
            transition-delay: .4s;
        }
        .LoginForm.active{
            transform: translateX(-500px) rotate(-50deg);
            transition-delay: .2s;
        }
        .RegisterForm{
            transform: translateX(600px) rotate(50deg);
            transition: .5s ease;
            transition-delay: .2s;
        }
        .RegisterForm.active{
            transform: translateX(0px) rotate(0deg);
            transition-delay: .4s;
        }
        h2{
            text-align: center;
            font-size: 38px;
            font-weight: 600;
        }
        .input-box{
            margin: 35px 0;
            width: 330px;
            border-bottom: 2px solid rgba(255,255,255,.4);
            position: relative;

            input{
                background: transparent;
                border: none;
                outline: none;
                width: 100%;
                height: 40px;
                padding: 0 35px 0 5px;
            }
            }
            label{
                font-weight: 400px;
                letter-spacing: .5px;
                position: absolute;
                left: 5px;
                /* top: 0%; */
                transform: translateY(-50%);
                transition: .5s ease;

            }
            i{
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 20px;
            }
        }
        .forget-section{
            display: flex;

            .LoginForm{
                position: absolute;
                transform: translateX(0px) rotate(0deg);
                transition: .5s ease;
                transition-delay: .4s;
            }
            .LoginForm.active{
                transform: translateX(-500px) rotate(-50deg);
                transition-delay: .2s;
            }
            .RegisterForm{
                transform: translateX(600px) rotate(50deg);
                transition: .5s ease;
                transition-delay: .2s;
            }
            .RegisterForm.active{
                transform: translateX(0px) rotate(0deg);
                transition-delay: .4s;
            }
            h2{
                text-align: center;
                font-size: 38px;
                font-weight: 600;
            }
            .input-box{
                margin: 35px 0;
                width: 330px;
                border-bottom: 2px solid rgba(255,255,255,.4);
                position: relative;

                input{
                    background: transparent;
                    border: none;
                    outline: none;
                    width: 100%;
                    height: 40px;
                    padding: 0 35px 0 5px;
                }
                }
                label{
                    font-weight: 400px;
                    letter-spacing: .5px;
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: .5s ease;
                    opacity: .4;

                }
                i{
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 20px;
                }
            }
            .forget-section{
                display: flex;
                justify-content: space-between;
                font-size: 15px;
                margin: -15px 0 15px;

                p{
                    display: flex;
                    align-items: center;

                    input{
                        accent-color: #11595d;
                        margin: 0 3px;
                    }
                }
                a{
                    text-decoration: none;
                }
            }
            .buttn{
                height: 45px;
                width: 100%;
                border-radius: 50px;
                color: #fff;
                background: #007bff;
                border: 2px solid #074588;
                outline: none;
                font-size: 16px;
                cursor: pointer;
                letter-spacing: 1px;
            }
            .account-creation{
                text-align: center;
                margin: 25px 0 10px;
                font-weight: 400;
                font-size: 14px;

                span{
                    a{
                        text-decoration: none;
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                }
    }
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
}

/* Responsitivitása */
@media(max-width:768px){
    .sign{
        height: 500px;
        width: 380px;
    }
    .sign .form-box{
        font-size: 32px;
    }
    .form-box .input-box i{
        font-size: 18px;
    }
    .form-box .input-box label{
        font-size: 14px;
    }
    .form-box .input-box{
        margin: 35px 0;
        width: 300px;
    }
    .forget-section{
        font-size:  13px;
    }
    .buttn{
        height: 40px;
        width: 100%;
        font-size: 14px;
    }
    .account-creation{
        font-size: 13px;
    }
}

@media(max-width:480px){
    .sign{
        height: 450px;
        width: 310px;
    }
    .sign .form-box{
        font-size: 26px;
    }
    .form-box .input-box i{
        font-size: 16px;
    }
    .form-box .input-box label{
        font-size: 12px;
    }
    .form-box .input-box{
        margin: 30px 0;
        width: 260px;
    }
    .forget-section{
        font-size:  11px;
    }
    .buttn{
        height: 35px;
        width: 100%;
        font-size: 12px;
    }
    .account-creation{
        font-size: 11px;
    }
}


/* MyPage */

.mypage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .mypagebg{
    height: 800px;
    width: 700px;
    border: 2px solid rgba(255,255,255,.4);
    border-radius: 10px;
    background: rgba(0,0,0,.2);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2),
    0 0 15px rgba(0,0,0,.2),
    0 0 30px rgba(0,0,0,.2);
    text-align: center;
    justify-content: center;
    overflow: hidden;

        h2{
            margin: 30px;
        }
        p{
            font-size: 30px;
        }
    }
    .profdata{
        margin-left: 3rem;
    }
}

/* CONTACT */
.contact{
    background-color: rgb(184, 153, 113);

    table{
        border: 1px solid black;
        border-collapse: collapse;


        td,th{
            border: 1px solid black;
            padding: 10px;
            vertical-align: middle;
            height: 100px;
            font-size: 20px;
            background-color: rgb(121, 81, 36);
        }
    }
    .text{
        font-size: larger;
        margin: 25px;
    }
    .ikonok{
        i{
            font-size: xx-large;
        }
        p{
            font-size: larger;
            color: black;
        }
        a{
            color: black;
            text-decoration: none;
        }
        a:hover{
            color: black;
            text-decoration: underline;
        }
    }
    .donation{
        background-color:rgb(143, 113, 74);

        a{
            color: black;
            text-decoration: none;
        }
        a:hover{
            color: black;
            text-decoration: underline;
        }
    }

    .surgos{
        background-color: rgb(170, 75, 20);
        color: white;

        p{
            padding-bottom: 20px;
        }

        .sosikonok{
            i{
                font-size: xx-large;
            }
            p{
                font-size: larger;
                color: rgb(255, 255, 255);
            }
            a{
                color: rgb(248, 248, 248);
                text-decoration: none;
            }
            a:hover{
                color: rgb(255, 255, 255);
                text-decoration: underline;
            }
        }
    }
}




