/* https://boxicons.com */
/* https://www.youtube.com/watch?v=d-VIORM1X2o */

/* Dark/light mode */
:root{
    --nav-bg : #a57c4e;
    --nav-text : #FFFFFF;
    --nav-active : #E67E22;
    --nav-hover: #3A5A20;

    --main-link: #4c8880;
    --main-link-hover: #64c23f;

    --footer-bg: #a57c4e;
    --footer-text: #FFFFFF;
    --footer-link: #E6D5C3;
    --footer-link-hover: #E67E22;
    --footer-border: #3A5A20;

    --base-color : #c5b9ae;
    --text-color: #111528;
    --base-variant: #e8e9ed;
    --secondary-text: #232738;
    --primary-color: #7b839b;

    --card-body: white;
    --card-border: #646464;
    --card-text: #111528;

    --gbutton-color: #007bff;
    --gbutton-border: #0050a7;
    --button-text: #ffffff;
    --nbutton-color: #e74c3c;
    --nbutton-border: #ac3629;
    --wdbutton-color: #585858;
    --wdbutton-border: #3b3b3b;
    --wdbutton-text: #eeeeee;

    --sign-bg : #ffffff;
    --sign-text: #ffffff;

    --bg-image: url('../img/hatter.png');

    --welbg-image1 : url('../img/layout/light/1.png');
    --welbg-image2 : url('../img/layout/light/2.png');
    --welbg-image3 : url('../img/layout/light/3.png');

    --vonal : #494949 ;

    --sosbg: rgb(184, 104, 104);

    --tableh: #99d4ca;
    --tableb: #dfdfdf;
}
.darkmode{
    --nav-bg : #2D2D2D;
    --nav-text : #E0E0E0;
    --nav-active : #FF9800;
    --nav-hover: #3A3A3A;

    --fmain-link: #4c8880;
    --main-link-hover: #64c23f;

    --footer-bg: #202D2D;
    --footer-text: #E6E6E6;
    --footer-link: #8BC34A;
    --footer-link-hover: #FF9800;
    --footer-border: #3A3A3A;

    --base-color : #070b1d;
    --text-color: #ffffff;
    --base-variant: #101425;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;

    --card-body: #888888;
    --card-border: #1f1f1f;
    --card-text: #111528;

    --gbutton-color: #007bff;
    --gbutton-border: #0050a7;
    --button-text: #ffffff;
    --nbutton-color: #e74c3c;
    --nbutton-border: #ac3629;
    --wdbutton-color: #b4b4b4;
    --wdbutton-border: #3b3b3b;
    --wdbutton-text: #585858;

    --sign-bg : #ffffff;
    --sign-text: #ffffff;

    --bg-image: url('../img/hatterdark.png');

    --welbg-image1 : url('../img/layout/dark/1.png');
    --welbg-image2 : url('../img/layout/dark/2.png');
    --welbg-image3 : url('../img/layout/dark/3.png');

    --vonal : #e6e6e6 ;

    --sosbg: rgb(100, 60, 60);

    --tableh: #424242;
    --tableb: #a0a0a0;

    #theme-switch{
        svg:first-child{
            display: none;
        }
        svg:last-child{
            display: block;
        }
    }
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--nav-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;

    svg{
        fill: var(--secondary-text);
    }
    svg:last-child{
        display: none;
    }
}

/* layout */
body{
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


/* Welcome page */
.welcome{
    /* main page */
    .carousel {
        margin-bottom: -8px;
    }
    .carousel-caption {
        bottom: 3rem;
        z-index: 10;
    }
    .carousel-item {
        height: 60vh;
    }
    .bg1{
        background-image: var(--welbg-image1);
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .bg2{
        background-image: var(--welbg-image2);
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .bg3{
        background-image: var(--welbg-image3);
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    /* VONAL */
    hr{
        border: 10px solid black;
        opacity: 1;
        margin: 0px;
    }
    .vonal{
        margin-top: 200px;
    }

    .welcomepage{
        background-color: var(--base-color);
        color: var(--text-color);

        .bemutatkozas{
            height: auto;
        }

        .textboxok {
            background-color: var(--base-variant);
            color: var(--secondary-text);
            border: 1px solid var(--border-color);
            border-radius: 50px;
            width: 100%;
            margin: 0 auto 1.5rem;
            margin-top: 350px;
            font-size: 1.2rem;
            padding: 30px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: transform 0.3s ease;

            animation: scroll linear;
            animation-timeline: view();
            animation-range: entry 0 cover 50%;

            p{
                text-align: left;
                margin-bottom: 1rem;
                line-height: 1.6;
            }
            h2{
                color: var(--border-color);
                margin-bottom: 1.5rem;
            }
        }
        .textboxok:hover {
            transform: translateY(-5px);
        }

        .oldanimals{
            background-color: var(--primary-color);
            color: var(--secondary-text);
            padding-top: 30px;
            padding-bottom: 40px;
            transition: transform 0.3s ease;

            h2{
                margin: 20px;
            }
            .card{
                border-radius: 8px;
                border: 1px solid var(--card-border) !important;
                transition: transform 0.3s ease;
                box-shadow: 0 4px 8px rgba(0,0,0,0.1);

                .card-body{
                    background-color: var(--card-body) !important;
                    color: var(--card-text) !important;
                    border: 1px solid var(--card-border) !important;
                }
                img{
                    height: 400px;
                }

            }
            .card:hover{
                transform: translateY(-5px);
            }


        }

        .on{
            background-color: var(--base-variant);

            .onkentes{
                color: var(--secondary-text);
                height: auto;
                width: 800px;
                margin: auto;
                font-size:x-large;
                padding: 20px;

                animation: scroll linear;
                animation-timeline: view();
                animation-range: entry 0 cover 30%;

                p{
                    text-align: left;
                }
                a{
                    background-color: var(--gbutton-color);
                    color: var(--button-text);
                    border: 1px solid var(--gbutton-border);
                    transition: transform 0.3s ease;
                }
                a:hover{
                    transform: scale(1.2);
                }
            }
            @media only screen and (max-width: 850px) {
                .onkentes{
                    width: auto;
                }
                .textboxok{
                    width: auto;
                }
            }
        }
    }
}

/* Footer */
footer{
    background-color: var(--footer-bg);
    color: var(--footer-link);
    height: 300px;
    opacity: .98;

    a{
        color: var(--footer-link);
        text-decoration: none;
        transition: color 0.3s;
    }
    a:hover{
        color: var(--footer-link-hover);
        text-decoration: underline;
    }

    hr{
        border: 8px solid black;
        opacity: 1;
        margin: 0px;
    }
}
/* nav */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--nav-bg);
    transition: background-color 0.2s ease;
    color: var(--nav-text);

    .logo{
        height: 50px;
        width: 50px;
        padding: 0;
        border-radius: 50%;
        background-color: var(--nav-bg);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li{
        a{
            color: var(--nav-text);
        }
        a:active{
            color: var(--nav-active);
        }
        a:hover{
            color: var(--nav-hover);
        }
    }

    .header-sticky {
        position: fixed;
        background-color: var(--nav-bg);
        top: 0;
        z-index: 2000;
        opacity: .9;
    }
    @media screen and (max-width: 992px) {
        .vr{
            display: none;
        }
    }
}

@keyframes scroll{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

/* sign.blade.php */
.reg{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .sign{
        height: 750px;
        width: 450px;
        border: 2px solid rgba(255,255,255,.4);
        border-radius: 10px;
        background: rgba(0,0,0,.2);
        backdrop-filter: blur(4px);
        box-shadow: 0 0 5px rgba(0, 0, 0, .2),
        0 0 15px rgba(0,0,0,.2),
        0 0 30px rgba(0,0,0,.2);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        color: var(--sign-text);

        .LoginForm{
            position: absolute;
            transform: translateX(0px) rotate(0deg);
            transition: .5s ease;
            transition-delay: .4s;
        }
        .LoginForm.active{
            transform: translateX(-500px) rotate(-50deg);
            transition-delay: .2s;
        }
        .RegisterForm{
            transform: translateX(600px) rotate(50deg);
            transition: .5s ease;
            transition-delay: .2s;
        }
        .RegisterForm.active{
            transform: translateX(0px) rotate(0deg);
            transition-delay: .4s;
        }
        h2{
            text-align: center;
            font-size: 38px;
            font-weight: 600;
        }
        .input-box{
            margin: 35px 0;
            width: 330px;
            border-bottom: 2px solid rgba(255,255,255,.4);
            position: relative;

            input{
                background: transparent;
                border: none;
                outline: none;
                width: 100%;
                height: 40px;
                padding: 0 35px 0 5px;
                color: var(--sign-text);
            }
            }
            label{
                font-weight: 400px;
                letter-spacing: .5px;
                position: absolute;
                left: 5px;
                /* top: 0%; */
                transform: translateY(-50%);
                transition: .5s ease;

            }
            i{
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 20px;
            }
        }
        .forget-section{
            display: flex;

            .LoginForm{
                position: absolute;
                transform: translateX(0px) rotate(0deg);
                transition: .5s ease;
                transition-delay: .4s;
            }
            .LoginForm.active{
                transform: translateX(-500px) rotate(-50deg);
                transition-delay: .2s;
            }
            .RegisterForm{
                transform: translateX(600px) rotate(50deg);
                transition: .5s ease;
                transition-delay: .2s;
            }
            .RegisterForm.active{
                transform: translateX(0px) rotate(0deg);
                transition-delay: .4s;
            }
            h2{
                text-align: center;
                font-size: 38px;
                font-weight: 600;
            }
            .input-box{
                margin: 35px 0;
                width: 330px;
                border-bottom: 2px solid rgba(255,255,255,.4);
                position: relative;

                input{
                    background: transparent;
                    border: none;
                    outline: none;
                    width: 100%;
                    height: 40px;
                    padding: 0 35px 0 5px;
                }
                }
                label{
                    font-weight: 400px;
                    letter-spacing: .5px;
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: .5s ease;
                    opacity: .4;

                }
                i{
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 20px;
                }
            }
            .forget-section{
                display: flex;
                justify-content: space-between;
                font-size: 15px;
                margin: -15px 0 15px;

                p{
                    display: flex;
                    align-items: center;

                    input{
                        accent-color: #11595d;
                        margin: 0 3px;
                    }
                }
                a{
                    text-decoration: none;
                }
            }
            .buttn{
                height: 45px;
                width: 100%;
                border-radius: 50px;
                color: #fff;
                background: #007bff;
                border: 2px solid #074588;
                outline: none;
                font-size: 16px;
                cursor: pointer;
                letter-spacing: 1px;
            }
            .account-creation{
                text-align: center;
                margin: 25px 0 10px;
                font-weight: 400;
                font-size: 14px;

                span{
                    a{
                        text-decoration: none;
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                }
    }
}
/* BZGGG FUIXIXIX */
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
}
input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:autofill,
input:-internal-autofill-selected {
    -webkit-transition: "background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

/* Responsitivitása */
@media(max-width:768px){
    .sign{
        height: 500px;
        width: 380px;
    }
    .sign .form-box{
        font-size: 32px;
    }
    .form-box .input-box i{
        font-size: 18px;
    }
    .form-box .input-box label{
        font-size: 14px;
    }
    .form-box .input-box{
        margin: 35px 0;
        width: 300px;
    }
    .forget-section{
        font-size:  13px;
    }
    .buttn{
        height: 40px;
        width: 100%;
        font-size: 14px;
    }
    .account-creation{
        font-size: 13px;
    }
}

@media(max-width:480px){
    .sign{
        height: 450px;
        width: 310px;
    }
    .sign .form-box{
        font-size: 26px;
    }
    .form-box .input-box i{
        font-size: 16px;
    }
    .form-box .input-box label{
        font-size: 12px;
    }
    .form-box .input-box{
        margin: 30px 0;
        width: 260px;
    }
    .forget-section{
        font-size:  11px;
    }
    .buttn{
        height: 35px;
        width: 100%;
        font-size: 12px;
    }
    .account-creation{
        font-size: 11px;
    }
}


/* MyPage */

.mypage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--sign-text);

    hr{
        border: 1px solid var(--vonal);
        opacity: 1;
    }
    .mypagebg{
    height: auto;
    width: 700px;
    border: 2px solid rgba(255,255,255,.4);
    border-radius: 10px;
    background: rgba(0,0,0,.2);
    backdrop-filter: blur(6px);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2),
    0 0 15px rgba(0,0,0,.2),
    0 0 30px rgba(0,0,0,.2);
    text-align: center;
    justify-content: center;
    overflow: hidden;

        h2{
            margin-top: 30px;
        }
        p{
            font-size: 30px;
        }
    }
    .profdata{
        margin-left: 3rem;
    }

    .kij{
        background-color: var(--nbutton-color);
        color: var(--button-text);
        border: 1px solid var(--nbutton-border);
    }
    .change{
        background-color: var(--gbutton-color);
        color: var(--button-text);
        border: 1px solid var(--gbutton-border);
    }
    .save{
        background-color: var(--wdbutton-color);
        color: var(--wdbutton-text);
        border: 1px solid var(--wdbutton-border);
    }
}

/* CONTACT */
.contact{
    background-color: var(--base-color);
    color: var(--text-color);
    padding-top: 30px;



    hr{
        border: 1px solid var(--vonal);
        opacity: 1;
        margin-bottom: 15px;
    }
    .table {
        border-collapse: separate;
        border-spacing: 0;

        thead th {
            border-bottom: 2px solid var(--border-color);
            padding-top: 1rem;
            padding-bottom: 1rem;
            background-color: var(--tableh);
            color: var(--text-color);
        }
        tbody{
            td,th{
                padding: 0.75rem;
                vertical-align: middle;
                border-top: 1px solid var(--border-color);
                background-color: var(--tableb);
            }
            tr:last-child{
                td, th{
                    border-bottom: 1px solid var(--border-color);
                }
            }
        }
    }
    .text{
        font-size: larger;
        margin: 25px;
    }
    .jo{
        border: 1px solid var(--vonal);
        margin: 0;
    }
    .ikonok{
        i{
            font-size: xx-large;
        }
        p{
            font-size: larger;
            color: black;
        }
        a{
            color: var(--text-color);
            text-decoration: none;
        }
        a:hover{
            color: var(--text-color);
            text-decoration: underline;
        }
    }
    .donation{
        background-color: var(--base-variant);
        color: var(--secondary-text);

        a{
            color: var(--secondary-text);
            text-decoration: none;
        }
        a:hover{
            color: var(--secondary-text);
            text-decoration: underline;
        }
    }
    .tamogatok{
        padding: 20px;

        .supporterek{

            animation: scroll linear;
            animation-timeline: view();
            animation-range: entry 0 cover 50%;
            transition: transform 0.3s ease;

            img{
                border: 2px solid #ddd;
                border-radius: 15%;
                height: 300px;
                width: 300px;
                padding: 15px;
            }
            h5{
                padding-top: 10px;
                padding-bottom: 15px;
            }
        }
        .supporterek:hover{
            transform: translateY(5px);
        }
    }
    .surgos{
        background-color: var(--sosbg);
        color: var(--button-text);
        height: auto;
        padding: 20px;

        p{
            padding-bottom: 20px;
        }

        .sosikonok{
            i{
                font-size: xx-large;
            }
            p{
                font-size: larger;
                color: var();
            }
            a{
                color: var(--button-text);
                text-decoration: none;
            }
            a:hover{
                color: var(--button-text);
                text-decoration: underline;
            }
        }
    }
}
.information{
    background-color: var(--base-color);
    color: var(--text-color);
    height:100vh;
    font-size: 40px;

    i{
        font-size: 100px;
        border: 3px solid var(--main-link);
        border-radius: 50%;
        padding: 15px;
        transition: transform 0.3s ease;
    }
    i:hover{
        border: 3px solid var(--main-link-hover);
        transform:scale(1.1);
    }
    a{
        color: var(--main-link);
        text-decoration: none;
        transition: transform 0.3s ease;
    }
    a:hover{
        color: var(--main-link-hover);
        text-decoration: underline;
        transform:scale(1.1);
    }
}
@media screen and (max-width: 992px) {
    .information{
        height: auto;
    }
}

.documents{
    background-color: var(--primary-color);
    color: var(--secondary-text);
    font-size: 20px;
    padding: 20px;

    h2{
        text-decoration: underline;
        text-decoration-color: var(--vonal);
    }
    hr{
        border: 1px solid var(--vonal);
        opacity: 1;
        margin-bottom: 15px;
    }
    i{
        border: 3px solid var(--main-link);
        border-radius: 50%;
        padding: 2px;
        margin: 2px;
    }
    a{
        color: var(--main-link-hover);
        text-decoration: none;
        font-size: medium;
        transition: transform 0.3s ease;

        .custom-link {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            white-space: nowrap;
            width: 120px;
        }
    }
    a:hover{
        transform: scale(1.1);
    }
}

.program{
    background-color: var(--base-color);
    color: var(--text-color);


    hr{
        border: 1px solid var(--vonal);
        opacity: 1;
        margin-bottom: 15px;
    }
    a{
        color: var(--main-link);
        text-decoration: none;
    }
    a:hover{
        color: var(--main-link-hover);
        text-decoration:underline;
    }
    .galeria{
        img{
            width: 400px;
            height: 420px;
            border: 3px solid black;
            border-radius: 20%;
            padding: 2px;
            transition: transform 0.3s ease;
        }
        img:hover{
            transform: translateY(-5px);
        }
    }
    @media screen and (max-width: 500px) {
        .galeria{
            img{
                width: 350px;
                height: 370px;
                border: 3px solid black;
                border-radius: 20%;
                padding: 2px;
            }
        }
    }

}

.allatok{
    background-color: var(--base-variant);
    color: var(--text-color);

    .szures{
        background-color: #3498db;
        transition: transform 0.3s ease;
    }
    .szures:hover{
        transform: scale(1.1);
    }
    .reset{
        background-color: #e74c3c;
        transition: transform 0.3s ease;
    }
    .reset:hover{
        transform: scale(1.1);
    }

    form{
        background-color: var(--base-color);
        color: var(--secondary-text);
        transition: transform 0.3s ease;
    }
    form:hover{
        transform: translateY(-5px);
    }

    .card{
        border-radius: 8px;
        border: 1px solid var(--card-border) !important;
        transition: transform 0.3s ease;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);

        .card-body{
            background-color: var(--card-body) !important;
            color: var(--card-text) !important;
            border: 1px solid var(--card-border) !important;
        }

    }
    .card:hover{
        transform: translateY(-5px);
    }



}

.allat{

    background-color: var(--base-variant);
    color: var(--secondary-text);

    .felso{
        border: 10px solid black;
        opacity: 1;
        margin: 0px;
        margin-bottom: 20px;
    }

    hr{
        border: 1px solid var(--vonal);
    }

    .asd{
        margin-bottom: 30px;

        img{
            width: auto;
            height: auto;
            border: 1px solid var(--card-border);
        }
    }
    /* @media screen and (max-width: 500px) {
        .asd{
            img{
                width: 850px;
                height: 550px;
                border: 1px solid var(--card-border);
            }
        }
    } */

    .allathead{
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--base-color);
        color: var(--text-color);
    }
    .foglalas{
        height: auto;
        margin-top: 20px;

        button{
            color: var(--button-text);
            background-color: var(--gbutton-color);
            border: 1px solid var(--gbutton-border);
        }
        a{
            color: var(--button-text);
            background-color: var(--gbutton-color);
            border: 1px solid var(--gbutton-border);
        }

        .foglalilehetoseg{
            height: auto;
            padding: 80px;
        }
    }
}
